.makeBrighter {
  filter: brightness(1.3);
}
.makeDarker {
  filter: brightness(0.8);
}
.moreContrast {
  filter: contrast(1.8);
}
.lessContrast {
  filter: contrast(0.8);
}
.color1 {
  filter: brightness(1.8);
}
.color2 {
  filter: brightness(1.8);
}
